<section>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            {{#each cartProds}}
            <tbody>
                <tr>
                    <td>
                        <img style="width: 50px;height: 50px; " src="/product-image/{{this.product._id}}.png">
                    </td>
                    <td>{{this.product.name}}</td>
                    <td>{{this.product.price}}</td>
                    <td>
                        <button class="btn btn-dark"
                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)">-</button>
                        <span id="{{this.product._id}}">{{this.quantity}}</span>
                        <button class="btn btn-dark"
                            onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',+1)">+</button>
                    </td>
                    <td>

                        <button class="btn btn-dark"
                            onclick="deleteProd('{{this._id}}','{{this.product._id}}')">Remove</button>
                    </td>

                </tr>

            </tbody>
            {{/each}}
        </table>
        <hr>
        <div class="row container d-flex flex-row-reverse">
            <div class="col-sm-3 float-right">
                <h3>Total: <span id="total">{{this.total}}</span> </h3>
                <a class="btn btn-primary float-right" href="place-order">
                    Check out</a>

            </div>

        </div>
    </div>
</section>

<script>
    function changeQuantity(cartId, prodId, userId, count) {
        let quantity = parseInt(document.getElementById(prodId).innerHTML)
        count = parseInt(count)
        $.ajax({
            url: '/change-product-quantity',
            data: {
                user: userId,
                cart: cartId,
                product: prodId,
                count: count,
                quantity: quantity
            },
            method: 'post',
            success: (response) => {
                if (response.removeProduct) {
                    alert("product removed")
                    location.reload()
                } else {
                    document.getElementById(prodId).innerHTML = quantity + count;
                    document.getElementById("total").innerHTML = response.total
                }
            }
        })
    };
    function deleteProd(cartId, prodId) {
        console.log("fun called")
        $.ajax({
            url: '/remove-cart-product',
            data: {
                cart: cartId,
                prod: prodId
            },
            method: 'post',
            success: (response) => {
                console.log("response received")
                if (response.removedProduct) {
                    console.log("success")
                    alert("product removed")
                    location.reload()
                }
            }
        })
    }

</script>